@model IEnumerable<FitnessHub.Data.Entities.GymMachines.MachineDetails>

@{
    ViewData["Title"] = "Machine Details";
}

<div style="display: flex; justify-content: center; align-items: center; width: 100%; padding: 0 1rem; margin-bottom: 4vh; margin-top: 3.5vh">
    <!-- Wrapper for the button and heading -->
    <div style="display: inline-flex; align-items: center;">
        <!-- Button next to the text with margin -->
        @if(this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
        {
            <a style="margin-left: -100px" asp-action="Create" class="btn btn-primary">
                <i class="fa-solid fa-gears me-2"></i>Add
            </a>
        }
        <!-- Heading centered -->
        <h2 class="view-text" style="font-weight: bolder; margin: 0; margin-left: 40px">
            Machines
        </h2>
    </div>
</div>

@if (!Model.Any())
{
    <hr />
    <h4 class="no-items-list">There are no Machines on this Gym!</h4>
}
else
{
    <div class="card-container">
        <div class="card cardTable">
            <table id="dataTable" class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Machine.ImageDisplay)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MachineNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Machine)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Machine.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusDisplay)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            <img style="height:10vh; width:auto" class="img-fluid" src="@item.Machine.ImageDisplay" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MachineNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Machine.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Machine.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusDisplay)
                        </td>
                        <td>
                            <div style="display: flex">
                                <form asp-action="ChangeStatus" method="post">
                                     @Html.AntiForgeryToken()

                                    <input type="hidden" asp-for="@item.Id" name="id"/>

                                    <button type="submit" class="btn btn-primary me-2">
                                        @if (item.Status == true)
                                        {
                                                <i style="color: darkred" class="fa-solid fa-turn-down me-2"></i>
                                                <span style="color: darkred">Disable</span>
                                        }
                                        else
                                        {
                                                <i style="color: #004900" class="fa-solid fa-turn-up me-2"></i>
                                                <span style="color: #004900">Enable</span>
                                        }
                                    </button>
                                </form>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info me-2"><i class="fa-solid fa-list me-2"></i>More</a>
                            </div>
                        </td>
                    </tr>
            }
            </tbody>
            </table>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
                },
                "aLengthMenu": [
                    [20, 50, 100, 200, -1],
                    [20, 50, 100, 200, "All"]
                ],
                columnDefs: [
                    { orderable: false, targets: [-1, 0] }
                ]
            });
        });
    </script>
}