@model IEnumerable<FitnessHub.Models.RequestInstructorHistoryViewModel>

@{
    ViewData["Title"] = "Clients Requests History";
}

<div style="display: flex; justify-content: center; align-items: center; width: 100%; padding: 0 1rem; margin-bottom: 4vh; margin-top: 3.5vh">
    <!-- Wrapper for the button and heading -->
    <div style="display: inline-flex; align-items: center;">
        <!-- Heading centered -->
        <h2 class="view-text" style="font-weight: bolder; margin: 0; margin-left: 40px">
            Clients Requests History
        </h2>
    </div>
</div>

@if (!Model.Any())
{
    <hr />
    <h4 class="no-items-list">There are no Requests on the history!</h4>
}
else
{
    <div class="card-container">
        <div class="card cardTable">
            <table id="dataTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClientName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Notes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RequestDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClientName)<br />
                                (@Html.DisplayFor(modelItem => item.ClientEmail))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Notes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
                },
                "aLengthMenu": [
                    [20, 50, 100, 200, -1],
                    [20, 50, 100, 200, "All"]
                ]
            });
        });
    </script>
}

