@model FitnessHub.Data.Entities.Communication.Ticket

@{
    ViewData["Title"] = "Ticket";
}

@if (ViewBag.AdminOrEmployee == true)
{
    <div class="container mt-4 mb-3">
        <!-- Button aligned to the right -->
        <form asp-action="CloseTicket" asp-route-id="@Model.Id" method="post">
            <div class="d-flex justify-content-end">
                <button id="close" type="submit" class="btn btn-danger">
                    <i class="fa-solid fa-xmark me-2"></i>Close Ticket
                </button>
            </div>
        </form>
    </div>
}

<div class="container mt-4">
    <!-- Main Post Card -->
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <!-- Left section: Image and Name -->
                <div class="d-flex align-items-center">
                    <img src="@Model.Client.Avatar" alt="Author Image" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover" />
                    <span style="color:whitesmoke" class="ms-3">@Model.Client.FullName<span class="ms-2" style="color: green; font-weight: bold !important">[Client]</span></span>
                </div>

                <!-- Right section: Date -->
                <div>
                    <span style="color:whitesmoke">Ticket opened @Html.Raw("@") @Model.DateOpened.ToString("dd-MM-yyyy HH:mm")</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h3 style="font-weight: 600" class="card-title">@Model.Title</h3>
            <hr style="margin-bottom: 0.6em" />
            <p class="card-text">@Model.Message</p>
        </div>
    </div>

    @foreach (var message in Model.TicketMessages)
    {
        <div class="card mb-4 mt-4">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">

                    <div class="d-flex align-items-center">
                        <img src="@message.User.Avatar" alt="Author Image" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover" />
                        @{
                            string colorMsg = "";
                            if (message.UserRole == "MasterAdmin")
                            {
                                colorMsg = "red";
                            }
                            else if (message.UserRole == "Admin")
                            {
                                colorMsg = "orange";
                            }
                            else if (message.UserRole == "Instructor")
                            {
                                colorMsg = "yellow";
                            }
                            else if (message.UserRole == "Employee")
                            {
                                colorMsg = "blue";
                            }
                            else
                            {
                                colorMsg = "green";
                            }
                        }
                        <span style="color:whitesmoke" class="ms-3">@message.User.FullName <span class="ms-2" style="color: @colorMsg; font-weight: bold !important">[@message.UserRole]</span></span>
                    </div>

                    <div>
                        <span style="color:whitesmoke">@Html.Raw("@") @message.DateTime.ToString("dd-MM-yyyy HH:mm")</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">@message.Message</p>
            </div>
        </div>
    }

    @if (ViewBag.TicketClosed != true)
    {
        <form asp-action="ReplyTicket" method="post">
            <div class="card mb-4 mt-4">
                <div class="card-body">
                    <div class="form-group">
                        <textarea class="form-control" name="Message" rows="5" placeholder="Message"></textarea>
                    </div>
                    @if (ViewBag.Error != null)
                    {
                        <span class="text-danger">ViewBag.Error</span>
                    }
                </div>
            </div>
            <div style="float:right; margin-bottom: 90px">
                <div class="d-flex">
                    <input hidden name="id" value="@Model.Id" />

                    @if (ViewBag.AdminOrEmployee == true)
                    {
                        <a asp-action="ClientTickets" class="btn btn-secondary me-4">
                            <i class="fa-solid fa-chevron-left me-2"></i>Back
                        </a>
                    }
                    else
                    {
                        <a asp-action="Tickets" class="btn btn-secondary me-4">
                            <i class="fa-solid fa-chevron-left me-2"></i>Back
                        </a>
                    }
                    <button id="process" type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-pen me-2"></i>Send
                    </button>
                </div>
            </div>
        </form>
    }
    else
    {
        <div style="float:right; margin-bottom: 90px">

            @if (ViewBag.AdminOrEmployee == true)
            {
                <a asp-action="ClientTickets" class="btn btn-secondary">
                    <i class="fa-solid fa-chevron-left me-2"></i>Back
                </a>
            }
            else
            {
                <a asp-action="Tickets" class="btn btn-secondary">
                    <i class="fa-solid fa-chevron-left me-2"></i>Back
                </a>
            }

        </div>
    }

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('process').addEventListener('click', function (event) {
            // Prevenir o envio imediato do formulário
            event.preventDefault();

            var submitButton = event.target;

            // Desabilitar o botão e mudar o texto
            submitButton.disabled = true;
            submitButton.innerHTML = '<i class="fa-solid fa-spinner spin-icon me-2"></i>Sending';

            // Submeter o formulário após a modificação
            submitButton.closest('form').submit();
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('close').addEventListener('click', function (event) {
            // Prevenir o envio imediato do formulário
            event.preventDefault();

            var submitButton = event.target;

            // Desabilitar o botão e mudar o texto
            submitButton.disabled = true;
            submitButton.innerHTML = '<i class="fa-solid fa-spinner spin-icon me-2"></i>Closing';

            // Submeter o formulário após a modificação
            submitButton.closest('form').submit();
        });
    });
</script>