@model FitnessHub.Models.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div style="display: flex; justify-content: center; align-items: center; width: 100%; padding: 0 1rem; margin-bottom: 4vh; margin-top: 3.5vh">
    <!-- Wrapper for the button and heading -->
    <div style="display: inline-flex; align-items: center;">
        <!-- Heading centered -->
        <h2 class="view-text" style="font-weight: bolder; margin: 0; margin-left: 40px">
            @ViewData["Title"]
        </h2>
    </div>
</div>

<div class="container mt-5" id="dashboardData">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fa-solid fa-user mb-3"></i>
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.ClientsCount)</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.ClientsCount)</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fa-solid fa-user-plus mb-3"></i>
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.ClientsWithMembershipCount)</h5>
                    <p class="card-text">@Model.ClientsWithMembershipCount</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fa-solid fa-sack-dollar mb-3"></i>
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.AnnualMembershipsRevenue)</h5>
                    <p class="card-text">@Model.AnnualMembershipsRevenue.ToString("C2")</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fa-solid fa-location-dot mb-3"></i>
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.CountriesCount)</h5>
                    <p class="card-text">@Model.CountriesCount</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fa-solid fa-map-location-dot mb-3"></i>
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.GymsCount)</h5>
                    <p class="card-text">@Model.GymsCount</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fa-solid fa-hand-holding-dollar mb-3"></i>
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.GymWithMostMemberShips)</h5>
                    <p class="card-text">@Model.GymWithMostMemberShips</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fa-solid fa-user-tie mb-3"></i>
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.EmployeesCount)</h5>
                    <p class="card-text">@Model.EmployeesCount</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fa-solid fa-user-ninja mb-3"></i>
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.InstructorsCount)</h5>
                    <p class="card-text">@Model.InstructorsCount</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fa-solid fa-fire mb-3"></i>
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.MostPopularClass)</h5>
                    <p class="card-text">@Model.MostPopularClass</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fa-solid fa-calendar-check mb-3"></i>
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.ScheduledGymClassesCount)</h5>
                    <p class="card-text">@Model.ScheduledGymClassesCount</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fa-solid fa-globe mb-3"></i>
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.ScheduledOnlineClassesCount)</h5>
                    <p class="card-text">@Model.ScheduledOnlineClassesCount</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fa-solid fa-video mb-3"></i>
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.VideoClassesCount)</h5>
                    <p class="card-text">@Model.VideoClassesCount</p>
                </div>
            </div>
        </div>
    </div>
</div>