@model ClassesDetailsViewModel

@{
    ViewData["Title"] = "Class Details";
}

<div class="container detailsdelete-text">
    <h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Class Details</h2>

    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dd class="col-sm-12" style="font-size: 2rem; font-weight:700; margin-bottom: -5px !important">
                            @Model.ClassType
                        </dd>
                        <dd class="col-sm-12">
                            <div class="rating-content">
                                <ejs-rating id="rating_class" value="(double)@Model.Rating" readOnly="true"></ejs-rating>
                            </div>
                            <div class="text-nowrap">
                                (@Model.NumReviews reviews)
                            </div>
                        </dd>
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd class="col-sm-12">@Model.Category</dd>

                        <dt class="col-sm-12">
                            Instructor
                        </dt>
                        <dd class="col-sm-12">
                            @Model.InstructorFullName <br /> (@Model.InstructorEmail)

                            <br />
                            <div style="font-size: 0.8em !important">
                                <div class="rating-content">
                                    <ejs-rating id="rating_instructor" value="(double)@Model.InstructorRating" readOnly="true"></ejs-rating>
                                </div>
                                <div class="text-nowrap">
                                    (@Model.InstructorReviews reviews)
                                </div>
                            </div>
                        </dd>

                        <dt class="col-sm-12">Location</dt>
                        @if (!string.IsNullOrEmpty(Model.GymName))
                        {
                            <dd class="col-sm-12">
                                <a asp-controller="Gyms" asp-action="Details" asp-route-id="@ViewBag.GymId" style="text-decoration: none">
                                    @Model.GymName
                                </a><br />
                                @Model.GymAddress
                            </dd>
                        }
                        else if (!string.IsNullOrEmpty(Model.Platform))
                        {
                            <dd class="col-sm-12">Online</dd>

                            <dt class="col-sm-12">Platform</dt>
                            <dd class="col-sm-12">@Model.Platform</dd>
                        }

                        <dt class="col-sm-12">Start Date</dt>
                        <dd class="col-sm-12">@Model.DateStart.ToString("g")</dd>

                        <dt class="col-sm-12">End Date</dt>
                        <dd class="col-sm-12">@Model.DateEnd.ToString("g")</dd>
                    </dl>
                    <div class="form-group">
                        @if (Context.Request.Headers["Referer"].ToString().Contains("MyClasses"))
                        {
                            <a asp-action="MyClasses" class="btn btn-secondary">
                                <i class="fa-solid fa-chevron-left me-2"></i>Back
                            </a>
                        }
                        else
                        {
                            <a asp-action="AvailableClasses" class="btn btn-secondary">
                                <i class="fa-solid fa-chevron-left me-2"></i>Back
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
