 @model AvailableClassesViewModel

@{
    ViewData["Title"] = "My Classes";
}

<div class="container mb-4 view-text">
    <h2 style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">My Classes</h2>
</div>

@if (Model.Classes.Any())
{
    <div class="card-container">
        <div class="card cardTable">
            <table id="dataTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Class</th>
                        <th>Category</th>
                        <th>Instructor</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var classEntity in Model.Classes)
                    {
                        <tr>
                            <td>@classEntity.ClassType</td>
                            <td>@classEntity.Category</td>
                            <td>@classEntity.InstructorName</td>
                            <td>@classEntity.DateStart.ToString("g")</td>
                            <td>@classEntity.DateEnd.ToString("g")</td>
                            <td>@classEntity.Location</td>
                            <td>
                                <a asp-action="ClassDetails" asp-route-id="@classEntity.Id" class="btn btn-info me-2"><i class="fa-solid fa-list me-2"></i>
                                    More
                                </a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmUnregisterModal" data-class-id="@classEntity.Id">
                                    <i class="fa-solid fa-trash-can me-2"></i>
                                    Unregister
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <hr />
    <h4 class="no-items-list">You are not registered for any classes.</h4>
}

<div class="modal fade" id="confirmUnregisterModal" tabindex="-1" aria-labelledby="confirmUnregisterLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmUnregisterLabel">Confirm Unregister</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you really want to unregister from this class?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x me-2"></i>Cancel</button>
                <form id="unregisterForm" asp-action="Unregister" method="post" style="display:inline;">
                    <input type="hidden" id="classId" name="id" value="" />
                    <button type="submit" class="btn btn-danger"><i class="fa-solid fa-check me-2"></i>Confirm Unregister</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var confirmUnregisterModal = document.getElementById('confirmUnregisterModal');
    confirmUnregisterModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var classId = button.getAttribute('data-class-id');
        var form = document.getElementById('unregisterForm');
        form.querySelector('#classId').value = classId;
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
                },
                "aLengthMenu": [
                    [20, 50, 100, 200, -1],
                    [20, 50, 100, 200, "All"]
                ],
                columnDefs: [
                    { orderable: false, targets: [-1, 0] }
                ]
            });
        });
    </script>
}

