@model IEnumerable<FitnessHub.Models.RegisteredInClassesHistoryViewModel>

@{
    ViewData["Title"] = "My Class History";
}

<h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">My Class History</h2>

@if (!Model.Any())
{
    <hr />
    <h4 class="no-items-list">You have no Class History!</h4>
}
else
{
    <div class="card-container">
        <div class="card cardTable">
            <table id="dataTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Class
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Gym
                        </th>
                        <th>
                            Instructor
                        </th>
                        <th>
                            Sign Up
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            By
                        </th>
                        <th>
                            Review
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TypeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @if (item.SubClass == "OnlineClass")
                                {
                                    <span>Online</span>
                                }
                                else if (item.SubClass == "GymClass")
                                {
                                    <span>Gym</span>
                                }
                                else
                                {
                                    <span>Video</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GymName)
                            </td>
                            <td>
                                @if (item.InstructorEmail != null && item.InstructorEmail.Length > 2)
                                {
                                    @item.InstructorFullName <br />
                                    <span>(@item.InstructorEmail)</span>
                                }
                                else
                                {
                                    <span>N/A</span>
                                }
                            </td>
                            <td>
                                @item.RegistrationDate.ToShortDateString()
                            </td>
                            <td>
                                @item.StartDate <br />
                                @item.EndDate
                            </td>
                            <td>
                                @if (item.EmployeeEmail != null && item.EmployeeEmail.Length > 2)
                                {
                                    @item.EmployeeFullName <br />
                                    <span>(@item.EmployeeEmail)</span>
                                }
                                else
                                {
                                    <span>You</span>
                                }
                            </td>
                            <td>
                                @if (item.Reviewed == false && ViewBag.TypeAvailable == false)
                                {
                                    <span>Class no longer available</span>
                                }
                                else if (item.Reviewed == true)
                                {
                                    <span>@(item.Rating % 1 == 0 ? $"{item.Rating:0}" : $"{item.Rating:0.##}")</span>@Html.Raw("/5")<i class="fa-solid fa-star ms-1"></i>
                                }
                                else
                                {
                                    <form asp-controller="ClientClasses" asp-action="ReviewClassAndInstructor">
                                        <input type="hidden" value="@item.Id" name="histId" />
                                        <input style="width: 35%" type="number" name="rating" min="0" max="5" required />/5<i class="fa-solid fa-star ms-1"></i>
                                             <br />
                                        <button type="submit" class="btn btn-primary mt-1">
                                            <i class="fa-solid fa-star me-2" style="color: black !important"></i>Submit
                                        </button>
                                    </form>
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
                },
                "aLengthMenu": [
                    [20, 50, 100, 200, -1],
                    [20, 50, 100, 200, "All"]
                ]
            });
        });
    </script>
}