@* @model IEnumerable<FitnessHub.Data.Entities.GymClasses.ClassType>


@if (Model.Any())
{
    <div class="row justify-content-center mt-2">
        @foreach (var classItem in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mx-2 mb-3">
                <div class="card">
                    <!-- Card Header -->
                    <div class="card-header text-center" style="font-size: 2em; font-weight: bold">
                        <div>@classItem.Name</div>
                        <div class="text-muted mb-1" style="font-size:1rem">@classItem.ClassCategory.Name</div>
                    </div>

                    <!-- Card Body -->
                    <div class="card-body p-0">
                        <div class="text-center">
                            <img src="@classItem.ImageDisplay" alt="@classItem.Name" class="img-fluid class-image" />
                        </div>
                        <div class="card-text p-3">
                            <p style="margin-bottom: 0; margin-top: 0">@classItem.Description</p>
                        </div>
                    </div>

                    <!-- Card Footer -->
                    <div class="card-footer" style="color: whitesmoke; font-size: 1.3em">
                        <small>
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <div class="rating-content">
                                    @{
                                        // if (classItem.NumReviews == 0)
                                        // {
                                        //     <ejs-rating id="rating_@classItem.Id" value="(double)@classItem.Rating" readOnly="true"></ejs-rating>
                                        // }
                                        // else
                                        // {
                                        //     @Html.Raw("N/A")
                                        //     <i class="fa-solid fa-star ms-2"></i>
                                        // }
                                        if (classItem.NumReviews == 0)
                                        {
                                            <div id="rating_@classItem.Id"
                                                 class="e-rating"
                                                 data-rating="@(classItem.Rating)">
                                            </div>
                                        }
                                        else
                                        {
                                            @Html.Raw("N/A")
                                            <i class="fa-solid fa-star ms-2"></i>
                                        }
                                    }
                                </div>
                                <div class="text-nowrap">
                                    (@classItem.NumReviews reviews)
                                </div>
                            </div>
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
        <h4 class="no-items-list" style="margin-top:20.5%">No Classes were found!</h4>
} *@