@model FitnessHub.Data.Entities.GymClasses.OnlineClass

@{
    ViewData["Title"] = "Delete Online Class";
}

<div class="container detailsdelete-text">
    <h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Delete @Model.Category.Name</h2>
    <hr />
    <div class="row">
        <!-- Left: Class info -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-12">Class ID</dt>
                        <dd class="col-sm-12">@Model.Id</dd>

                        <dt class="col-sm-12">@Html.DisplayNameFor(model => model.Category)</dt>
                        <dd class="col-sm-12">@Model.Category.Name</dd>

                        <dt class="col-sm-12">@Html.DisplayNameFor(model => model.Instructor)</dt>
                        <dd class="col-sm-12">@Model.Instructor.FirstName @Model.Instructor.LastName</dd>

                        <dt class="col-sm-12">@Html.DisplayNameFor(model => model.DateStart)</dt>
                        <dd class="col-sm-12">@Html.DisplayFor(model => model.DateStart)</dd>

                        <dt class="col-sm-12">@Html.DisplayNameFor(model => model.DateEnd)</dt>
                        <dd class="col-sm-12">@Html.DisplayFor(model => model.DateEnd)</dd>

                        <dt class="col-sm-12">@Html.DisplayNameFor(model => model.Platform)</dt>
                        <dd class="col-sm-12">@Html.DisplayFor(model => model.Platform)</dd>

                        <dt class="col-sm-12">@Html.DisplayNameFor(model => model.ClassType.Rating)</dt>
                        <dd class="col-sm-12">@Html.DisplayFor(model => model.ClassType.Rating)</dd>

                        <dt class="col-sm-12">@Html.DisplayNameFor(model => model.ClassType.NumReviews)</dt>
                        <dd class="col-sm-12">@Html.DisplayFor(model => model.ClassType.NumReviews)</dd>
                    </dl>

                    <form asp-action="DeleteOnlineClass">
                        <input type="hidden" asp-for="Id" />
                        <button id="process" type="submit" class="btn btn-danger me-2">
                            <i class="fa-solid fa-trash-can me-2"></i>Delete
                        </button>
                        <a asp-action="OnlineClasses" class="btn btn-secondary">
                            <i class="fa-solid fa-chevron-left me-2"></i>Back
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('process').addEventListener('click', function (event) {
            // Prevenir o envio imediato do formulário
            event.preventDefault();

            var submitButton = event.target;

            // Desabilitar o botão e mudar o texto
            submitButton.disabled = true;
            submitButton.innerHTML = '<i class="fa-solid fa-spinner spin-icon me-2"></i>Processing';

            // Submeter o formulário após a modificação
            submitButton.closest('form').submit();
        });
    });
</script>
