@model FitnessHub.Data.Entities.GymClasses.VideoClass

@{
    ViewData["Title"] = "DeleteVideoClass";
}

<div class="container detailsdelete-text">
    <h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Delete Video Class</h2>
    <hr />
    <div class="row">
        <!-- Left: Video Class info -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.VideoClassUrl)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.VideoClassUrl)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    </dl>

                    <form asp-action="DeleteVideoClass">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger me-4">
                            <i class="fa-solid fa-trash-can me-2"></i>Delete
                        </button>
                        <a asp-action="VideoClasses" class="btn btn-secondary">
                            <i class="fa-solid fa-chevron-left me-2"></i>Back
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
