@model FitnessHub.Data.Entities.GymClasses.ClassCategory

@{
    ViewData["Title"] = "Class Category Details";
}

<div class="container detailsdelete-text">
    <h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">@Model.Name Details</h2>
    <hr />
    <div class="row">

        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <dl class="row" style="color: black">
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    </dl>

                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-secondary me-2">
                            <i class="fa-solid fa-chevron-left me-2"></i>Back</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-class-id="@Model.Id">
                            <i class="fa-solid fa-trash-can me-2"></i>Delete
                        </button>
                        <div asp-validation-summary="ModelOnly" class="text-danger mt-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteLabel">Confirm Delete</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you really want to delete this class category?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x me-2"></i>Cancel</button>
                <form id="deleteForm" asp-action="Delete" method="post" style="display:inline;">
                    <input type="hidden" id="classId" name="Id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i>Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var confirmDeleteModal = document.getElementById('confirmDeleteModal');
    confirmDeleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var classId = button.getAttribute('data-class-id');
        var form = document.getElementById('deleteForm');
        form.querySelector('#classId').value = classId;
    });
</script>
